@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Alexandr Savchuk<br />
    <abbr title="Phone">P:</abbr>
    0508726743
</address>

<address>
    <strong>Email:</strong> <a href="mailto:Support@example.com">savchuk.sand0@gmail.com</a>
</address>
