@model Friendzone.Core.DTO.ProfileDTO

<br />
<div class="row">
    <div class="col avatar-wrapper">
        <div class="circle">
            @if (Model.AvaUrl != null)
            {
                <img src="@Model.AvaUrl" />

            }
            else
            {
                <img src="files/145842.png" />
            }

        </div>
    </div>
</div>

<div class="auth-buttons-wrapper">
        <a class="btn btn-default btn-w-120" asp-controller="Profile" asp-action="ChangeAva">change avatar</a>
        <a class="btn btn-default btn-w-120" asp-controller="Account" asp-action="Logout">logout</a>
</div>

<div class="pl-15">
    <h3>@Model.UserName</h3>
</div>
<div class="pl-15">
    <b>@Model.Email</b>
</div>
<div class="pl-15">
    <a asp-controller="Profile" asp-action="Index">My profile</a>
</div>
<hr />
<div class="pl-15">
    some options for user can be here...
</div>